/*NAVBAR*/
.navbar-brand img{
    border: 1px white solid; 
    border-radius: 50%;
}

.navbar-brand img:hover {
    border: 1px cyan solid;
}

ul.dropdown-menu.show{
    background-color: #262626;
}

#opciones-navbar{
    /*justify-content: space-evenly;*/
    margin: auto;
    font-size: large;
}
#opciones-navbar a {
    color: white;

}

#opciones-navbar a:hover {
    color: cyan;
    
}

#opciones-navbar .dropdown-item {
    color: white;
}

.dropdown-item:hover{
    background-color: black;
}

button.navbar-toggler:hover{
    color: cyan;
}

.navbar-toggler-icon:hover {
    color: cyan;
}

/*CAROUSEL*/
.carousel-img {
    width: 600px;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

/*PARALLAX*/
.banner{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/imagen-parallax-e4.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#opciones-parallax button{
    color: white;
    text-decoration: none;
}

#opciones-parallax button:hover{
    color: cyan;
}

/*MODAL*/
div.modal-header, div.modal-body, div.modal-footer{
    background-color: #262626;
}

.modal h1, a {
    color: white;
    text-decoration: none;
}

.modal a:hover{
    color: cyan;
}

.alert, .alert-success{
    text-align: center;
    width: 50%;
    margin: auto;
}
#react, #nde {
    color: #00FFFF;
    text-decoration: solid;
    font-weight: bolder;
    font-size: larger;
}